<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="theme-color" content="#ffffff">


<link rel="stylesheet" href="css/main.css">
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

  <link rel="stylesheet" href="css/apparatusInventory.css">

 <script src="js/main.js"></script>


</head>

<body id="body">

<div class="navbar">
        <a href="/">Home</a>
        <a href="/responding">Responding</a>
        <a class="active" href="/apparatus">Apparatus</a>
        <a href="/inventory">Inventory</a>
</div>


<div id="topbar"  class="topbar">
    <div id="topbarName" class="topbarName"><b><%=apparatusName%></b></div>
      <div id="addItem"  class="addItem" onclick="getApparatusComparments()">+</div>
</div>


  <div class="main">


      <div class="pageHeader" >
        <b><%=apparatusName%></b>
    </div>



  <div class="apparatusMenu">


           <form action="/apparatusInventory" method="post">
           <input id="apparatusName" name="apparatusName" type="hidden" value="<%=apparatusName%>">
           <button type="submit" class="inventoryLink active2">Inventory</button>
           </form>




          <form action="/apparatusChecklist" method="post">
           <input name="apparatusName" type="hidden" value="<%=apparatusName%>">
           <button type="submit" class="inventoryLink">Checklist</button>
           </form>



         <form action="/editChecklist" method="post">
           <input name="apparatusName" type="hidden" value="<%=apparatusName%>">
               <button type="submit" class="inventoryLink">Edit Checklist</button>
           </form>
        </div>




<%
  	if(compartments.length!= 0){
        var i=1;
        name =  apparatusName;
        currentCompartment = null;

        compartments.forEach(function(data){
        if(currentCompartment !=  data.cid){
%>

        </div>
	<div class="list">
        <div class="inventoryHeader">
         <b class="inventoryText"><%=data.compartmentname%></b>
           <button onclick="getEditCompartment('<%=data.compartment%>')" id="capartmentEdit" class="capartmentEdit">Edit</button>
        </div>
<%
    if(data.imagepath != null ){

%>
 <div id="pictureDiv" class="pictureDiv">
<img class="picture" src="/<%=data.imagepath%>"  alt="My_Logo">
</div>
<%
}
 currentCompartment = data.cid

}%>

  <% if(data.bagid == null){ %>

   <div  class="itemRow" id="<%=i%>item" onclick="dropDownFunction2(<%=i%>)">
    <div class="itemName"><%=data.name%> </div>
    <div class="itemAmount"><%=data.amount%></div>

   </div>
<%	}%>

  <% if(data.bagid != null){ %>
  <div  class="itemRow" id="<%=i%>item" onclick="dropDownFunction2(<%=i%>)">
    <div class="itemName"><%=data.name%> </div>
    <div class="itemAmount"><i class="arrow down"></i></div>

   </div>


	<div class="bagDropdown" id="<%=i%>bag">
<%        bagItems.forEach(function(data2){
        if(data.bagid == data2.bagid){ %>

         <div class="bagItem"><%=data2.name%></div>

        <div class="bagAmount"><%=data2.amount%></div>

            <%  }}) %>
</div>

<%	}%>



    <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
              </div>


<div class="bg-modal" id="bg-modal">
    <div class="popup-content">
    <div class="popup-header">  </div>
        <div class="close" id="close">+ </div>

         <form action="/insertCompartmentItem" method="POST" id="addItemForm">

          <button type="submit" class="submitItem">Add</button>

         <div id="compartmentSelectHolder"  class="compartmentSelectHolder">
          <div class="compartmentSelectText"> Compartment </div>
          <div class="compartmentSelected2">></div>
        <div id="compartmentSelected" class="compartmentSelected">None</div>
          <input type="hidden" class="compartmentSelected" id="currentCompartmentId" name="currentCompartmentId" value="None">
         </div>

         <div id="bagSelectHolder"  class="bagSelectHolder">
           <div class="bagSelectText"> Bag </div>
         <div class="compartmentSelected2">></div>
           <div id="bagSelected" class="compartmentSelected">None</div>
          <input type="hidden" class="compartmentSelected" id="currentBagId" name="bagId" value="None">

         </div>

       <input id="itemSearch" class="itemSearchInput"placeholder="Search for new Items:"></input>



        <div class="searchResultsDiv" id="searchResultsDiv">
      <div id="tools1" class="resultsHeader">
            <div class="resultsHeaderText">Default</div>

             <div id="default" class="resultsDiv">
           <ul class="mySection" id="inventoryHolder">



        </ul>
	</div>
	</form>
</div>
</div>
</div>
</div>
</div>





</div>

  </div>
</div>






<div class="bg-modal3" id="bg-modal3">
    <div class="popup-content3">
    <div class="popup-header3"> Compartment </div>
        <div class="close3" id="close3"> < Back</div>

          <form action="/addCompartment" method="post">
          <button type="submit" class="submitCompartment">Save</button>
          <input id="apparatusName" name="apparatus" type="hidden" value="<%=apparatusName%>">
                <input id="addCompartmentSearch" class="addCompartmentSearch" placeholder="Add New Compartment Name" value="" name="compartmentName"></input>
            </form>

         <div id="compartmentSelectHolder3" class="compartmentSelectHolder3">

         </div>

</div>
</div>

<div class="bg-modal3" id="bg-modal4">
    <div class="popup-content3">
    <div class="popup-header3"> Bag  </div>
        <div class="close3" id="close4"> < Back</div>


         <form action="/addBag" method="post">
               <button type="submit" class="submitCompartment">Save</button>
                <input id="addBagSearch" class="addCompartmentSearch" placeholder="Add New Compartment Name" value="" name="bagName"></input>
            </form>

         <div id="bagSelectHolder3" class="compartmentSelectHolder3">

         </div>

</div>
</div>



</body>
<script src="js/apparatusInventory.js"></script>

</html>
